certifi
charset-normalizer
coloredlogs
DateTime
ddddocr
flatbuffers
greenlet
humanfriendly
idna
mpmath
numpy
onnxruntime
opencv-python-headless
packaging
pillow
patchright
protobuf
psutil
pyee
PySocks
pytz
requests
sympy
typing_extensions
urllib3
zope.interface
