certifi==2024.8.30
charset-normalizer==3.4.0
coloredlogs==15.0.1
DateTime==5.5
ddddocr==1.5.6
flatbuffers==24.3.25
greenlet==3.1.1
humanfriendly==10.0
idna==3.10
mpmath==1.3.0
numpy==2.1.2
onnxruntime==1.20.0
opencv-python-headless==4.10.0.84
packaging==24.1
pillow==11.0.0
patchright
protobuf==5.28.3
psutil==6.1.0
pyee==12.0.0
pytz==2024.2
requests==2.32.3
sympy==1.13.3
typing_extensions==4.12.2
urllib3==2.2.3
zope.interface==7.1.1
